@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html::-webkit-scrollbar {
    @apply bg-white w-3 h-3;
  }
  html::-webkit-scrollbar-track {
    @apply bg-white;
  }
  html::-webkit-scrollbar-thumb {
    @apply bg-[#babac0] rounded-full border-2 border-solid border-white;
  }

  html {
    background: #fff;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  /* Custom Scroll */
  .custom-scroll::-webkit-scrollbar {
    @apply bg-white w-3 h-3;
  }
  .custom-scroll::-webkit-scrollbar-track {
    @apply bg-white;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-[#babac0] rounded-full border-2 border-solid border-white;
  }
  .custom-scroll::-webkit-scrollbar-button {
    @apply hidden;
  }

  .hidden-scroll::-webkit-scrollbar {
    @apply hidden;
  }

  .arrow-none::-webkit-outer-spin-button,
  .arrow-none::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
